# Nest.js compiled output
/dist
/build

# Dependencies
/node_modules

# Tests
/coverage
/.nyc_output

# Environment
.env
.env.*
!.env.example

# Prisma
prisma/migrations/.migration_lock.toml
/src/generated

/sql